#root {
  
  margin: 0 auto;
  
  text-align: center;
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}